<ul id="navigation">

	<li>
		<li id="menu-toggle"><p><i class="fas fa-bars"></i></p></li>

		<a href="index.html"><p><i class="fas fa-home"></i></a></p>
		<ul>
			<li>
				<h3><a href="about.html">About</a></h3>
			</li>

			<li>
				<h3>Akkroo/Integrate</h3>

				<ul>
					<li>
						<p><a href="akkroo-badge-scan-improvements.html">Badge Scanning Improvements</a></p>
					</li>

					<li>
						<p><a href="akkroo-new-checkin-experience.html">New Check-in Experience</a></p>
					</li>

					<li>
						<p><a href="akkroo-react-native-app.html">React Native App</a></p>
					</li>

					<li>
						<p><a href="akkroo-user-feedback-prompt.html">User Feedback Prompt</a></p>
					</li>

					<li>
						<p><a href="akkroo-major-app-update.html">Major App Update</a></p>
					</li>

					<li>
						<p><a href="akkroo-success-hub.html">Success Hub</a></p>
					</li>
				</ul>
			</li>

			<!--li>
				<h3>SMARKIO</h3>

				<ul>
					<li>
						<p>Feature Reframing Exercise</p>
					</li>

					<li>
						<p>Chatbot Configuration</p>
					</li>
				</ul>
			</li-->

			<li>
				<h3>Adclick</h3>

				<ul>
					<!--li>
						<p>MPF Portal Redesign</p>
					</li-->

					<li>
						<p><a href="adclick.html">See samples of work</a></p>
					</li>
				</ul>
			</li>

			<li>
				<h3>Small bits and pieces</h3>

				<ul>
					<li>
						<p><a href="misc-motion.html">Motion Graphics</a></p>
					</li>

					<li>
						<p><a href="misc-sintagma.html">Sintagma Rebrand</a></p>
					</li>

					<li>
						<p><a href="misc-illustration.html">Illustration</a></p>
					</li>

					<li>
						<p><a href="misc-brastemp.html">Brastemp Campaign</a></p>
					</li>

					<li>
						<p><a href="misc-logos.html">Branding & Logos</a></p>
					</li>
				</ul>
			</li>
		</ul>
	</li>

</ul>