<ul id="navigation">
	<li>
		<p><a href="#TODO"><i class="fas fa-home"></i></a></p>
		<ul>
			<li>
				<h3><a href="#TODO">About</a></h3>
			</li>

			<li>
				<h3>Akkroo/Integrate</h3>

				<ul>
					<li>
						<p><a href="#TODO">Badge Scanning Improvements</a></p>
					</li>

					<li>
						<p><a href="#TODO">New Check-in Experience</a></p>
					</li>

					<li>
						<p><a href="#TODO">React Native App</a></p>
					</li>

					<li>
						<p><a href="#TODO">User Feedback Prompt</a></p>
					</li>

					<li>
						<p><a href="#TODO">Major App Update</a></p>
					</li>

					<li>
						<p><a href="#TODO">Success Hub</a></p>
					</li>
				</ul>
			</li>

			<!--li>
				<h3>SMARKIO</h3>

				<ul>
					<li>
						<p>Feature Reframing Exercise</p>
					</li>

					<li>
						<p>Chatbot Configuration</p>
					</li>
				</ul>
			</li-->

			<li>
				<h3>Adclick</h3>

				<ul>
					<!--li>
						<p>MPF Portal Redesign</p>
					</li-->

					<li>
						<p>See samples of work</p>
					</li>
				</ul>
			</li>

			<li>
				<h3>Small bits and pieces</h3>

				<ul>
					<li>
						<p><a href="#TODO">Motion Graphics</a></p>
					</li>

					<li>
						<p><a href="#TODO">Sintagma Rebrand</a></p>
					</li>

					<li>
						<p><a href="#TODO">Illustration</a></p>
					</li>

					<li>
						<p><a href="#TODO">Brastemp Campaign</a></p>
					</li>

					<li>
						<p><a href="#TODO">Branding & Logos</a></p>
					</li>
				</ul>
			</li>
		</ul>
	</li>

</ul>